.taskItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.875rem;
  padding: 1rem;

  margin-top: 0.875rem;
  background-color: var(--gray-500);
  border-radius: 15px;
  border-color: var(--gray-400);
}

.taskItem p {
  color: var(--gray-100);
}

.taskItem button {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
}

.taskItem button:hover {
  color: var(--danger);
}

#taskCompleted {
  color: var(--gray-300);
  text-decoration: line-through;
}

@media (max-width: 321px) {
  .taskItem {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .taskItem {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }
}